{% extends 'base.html.twig' %}
{% use 'image/image_selector_modal.html.twig' %}

{% block title %}Správce Kurzů{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/moodle_chapter.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="{{ asset('js/chapter_editor.js') }}"></script>
    {% block modalScript %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5 mb-1"></div>
        <div class="row mt-4">
                <h1>Editor</h1>
        </div>
        <div class="row my-2">
            <form>
                <div class="form-row">
                    <div class="col-3">
                        <input id="cName" type="text" class="form-control" placeholder="Jméno">
                    </div>
                    <div class="col-2">
                        <input id="cPosition" type="number" class="form-control" placeholder="Pořadí">
                    </div>
                    <div class="col-2">
                        <input id="cAuthor" class="form-control" type="text" placeholder="Autor" readonly>
                    </div>
                    <div class="col-2">
                        <input id="cCreatedAt"class="form-control" type="text" placeholder="Vytvořeno" readonly>
                    </div>
                    <div class="col-1">
                        <input id="cID" class="form-control input-sm" type="text" placeholder="ID" readonly>
                    </div>
                    <div class="col-2">
                        <a id="cSaveBtn" href="" class="btn btn-primary">Uložit</a>
                    </div>
                </div>
            </form>
        </div>
            <textarea id="cContent"></textarea>
    </div>
    {% block modal %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
