{% extends 'base.html.twig' %}

{% block title %}Správce Kurzů{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/course_admin.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5 mb-1"></div>
        <div class="row mt-4">
            <div class="col-10">
                <h1>Správce Kurzů</h1>
            </div>
            <div class="col-2">
                <a class="btn btn-primary" href="" data-toggle="modal" data-target="#addModal"><i class="fas fa-plus mx-1"></i>Nový</a>
            </div>
        </div>
        <div class="row min-vh-100">
            {% for c in courses %}
                <div class="col-lg-4 col-md-10">
                    <div class="card">
                        <img class="card-img-top" src="{{ vich_uploader_asset(c.image,"imageFile") }}" alt="Card image cap">
                        <div class="card-body">
                            <a href="{{ path('admin_moodle_course',{'slug':c.slug}) }}"> <h3>{{ c.name }}</h3></a>
                            <span>
                                <a href="{{ path('user_profile',{'slug':c.owner.slug}) }}">{{ c.owner }}</a>
                                {{ c.createdAt|ago }}
                            </span>
                            <p class="mt-1">{{ c.description }}</p>
                            <div class="text-right">
                                <a href="" class="btn btn-info"><i class="fas fa-link"></i></a>
                                <a href="" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                                <a href="{{ path('api_moodle_course_remove',{'id':c.id}) }}" class="btn btn-danger remove"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Kurz</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form(form) }}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
