{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/landing-page.css") }}">
{% endblock %}
{% block title %}Kurzy{% endblock %}

{% block body %}
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <div class="row align-items-center">

                {% for c in courses %}
                <div class="col-md-6 col-lg-4 mx-auto">
                    <a href="{{ path('moodle_course',{'slug':c.slug}) }}">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <h3>{{c.name}}</h3>
                                <p>{{ c.description|slice(0,50) }}...</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="{{ vich_uploader_asset(c.image,'imageFile') }}" alt="{{ c.image.altName }}">
                    </div>
                    </a>
                </div>
                {% endfor%}
            </div>
        </div>
    </section>


{% endblock %}

