{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/landing-page.css") }}">
{% endblock %}
{% block title %}{{chapter.name}}{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="row my-5"></div>
        <div class="row min-vh-100">
            <div class="col-sm-8 blog-main">
                <div class="blog-post">
                    <h2 class="blog-post-title display-3 m-0">{{chapter.name}}</h2>
                    <a href="{{ path('moodle_course',{"slug":chapter.course.slug}) }}">{{ chapter.course.name }}</a>
                    <p class="blog-post-meta">{{ chapter.createdAt|ago }} by <a href="{{ path('user_profile',{'slug':chapter.owner.slug}) }}">{{ chapter.owner }}</a></p>
                    {{ chapter.content|markdown }}
                </div><!-- /.blog-post -->
            </div><!-- /.blog-main -->

            <div class="col-sm-3 offset-sm-1 blog-sidebar">
                <div class="sidebar-module sidebar-module-inset">
                    <h4>Knowledge Tab</h4>
                    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                </div>
                <div class="sidebar-module">
                    <h4>Elsewhere</h4>
                    <ol class="list-unstyled">
                        <li><a href="#">GitHub</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                    </ol>
                </div>
            </div><!-- /.blog-sidebar -->
        </div><!-- /.row -->
        <div class="row mx-auto">
            <div class="col-3"></div>
            <div class="col-6">
                <button class="btn btn-secondary mx-2">Předchozí</button>
                <button class="btn btn-primary mx-2">Hotovo!</button>
                <button class="btn btn-secondary mx-2">Další</button>
            </div>
        </div>

    </div><!-- /.container -->


{% endblock %}

