<!DOCTYPE html>
<html lang="cs">
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Niners - modular robot">
        <meta name="author" content="Pavel Srytr">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('img/logo.ico') }}" type="image/x-icon" />
        {% block stylesheets %}
            <!-- Custom fonts for this theme -->
            <link href="{{ asset("vendor/fontawesome-free/css/all.min.css") }}" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

            <!-- Theme CSS -->
            <link href="{{ asset("css/niners.css") }}" rel="stylesheet">
            <link href="{{ asset("css/navbar.css") }}" rel="stylesheet">

        {% endblock %}
    </head>
    <body id = "page-top">
        {% block navigation %}
            <!-- Navigation -->
            <nav class="navbar navbar-expand-lg bg-white text-uppercase fixed-top" id="mainNav">
                <div class="container">
                    <a class="navbar-brand js-scroll-trigger" href="{{ path("app_home") }}"> <img class="img img-fluid" width="40" src="{{ asset('img/logo.png') }}"> Niners</a>
                    <button class="navbar-toggler navbar-toggler-right text-uppercase  text-primary font-weight-bold" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item mx-0 mx-lg-1">
                                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="">Výuka</a>
                            </li>
                            <li class="nav-item mx-0 mx-lg-1">
                                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="">Garáž</a>
                            </li>
                            <li class="nav-item mx-0 mx-lg-1">
                                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="">O nás</a>
                            </li>
                            {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <li class="nav-item mx-0 mx-lg-1">
                                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path("app_login") }}">Přihlásit se</a>
                            </li>
                            {% else %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li class="nav-item mx-0 mx-lg-1">
                                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path("app_admin") }}">Administrace</a>
                                    </li>
                                {% endif %}
                                <li class="nav-item mx-0 mx-lg-1">
                                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path("user_profile") }}">Profil</a>
                                </li>
                                <li class="nav-item mx-0 mx-lg-1">
                                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="">Odhlásit se</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}
        <div class="mt-2">
        {% block body %}{% endblock %}
        </div>

        {% block footer %}
            <!-- Footer -->
            <footer class="footer bg-primary text-center">
                <div class="container">
                    <div class="row">

                        <!-- Footer Location -->
                        <div class="col-lg-4 mb-5 mb-lg-0">
                            <h4 class="text-uppercase mb-4">Kde nás najdete?</h4>
                            <p class="lead mb-0">2215 John Daniel Drive
                                <br>Clark, MO 65243</p>
                        </div>

                        <!-- Footer Social Icons -->
                        <div class="col-lg-4 mb-5 mb-lg-0">
                            <h4 class="text-uppercase mb-4">Kde na internetu jsme?</h4>
                            <a class="btn btn-outline-light btn-social mx-1" href="#">
                                <i class="fab fa-fw fa-facebook-f"></i>
                            </a>

                            <a class="btn btn-outline-light btn-social mx-1" href="#">
                                <i class="fab fa-fw fa-discord"></i>
                            </a>
                            <a class="btn btn-outline-light btn-social mx-1" href="#">
                                <i class="fab fa-fw fa-instagram"></i>
                            </a>
                        </div>

                        <!-- Footer About Text -->
                        <div class="col-lg-4">
                            <h4 class="text-uppercase mb-4">Niners</h4>
                            <p class="lead mb-0">Niner jsou modulární roboti vytvoření pro výuku zákládů robotiky.
                                <a href="" class="text-danger">O autorech</a>.</p>
                        </div>

                    </div>
                </div>
            </footer>

        {% endblock %}


        {% block javascripts %}
            <!-- Bootstrap core JavaScript -->
            <script src={{ asset("vendor/jquery/jquery.min.js") }}></script>
            <script src={{ asset("vendor/bootstrap/js/bootstrap.bundle.min.js") }}></script>

            <!-- Plugin JavaScript -->
            <script src={{ asset("vendor/jquery-easing/jquery.easing.min.js") }}></script>

            <!-- Contact Form JavaScript -->
            <script src={{ asset("js/jqBootstrapValidation.js") }}></script>
            <script src={{ asset("js/contact_me.js") }}></script>

            <!-- Custom scripts for this template -->
            <script src={{asset("js/niners.min.js")}}></script>
        {% endblock %}
    </body>
</html>
